<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Position</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">     
                <div class="col-8" *ngIf="error">
                  <div class="alert alert-danger alert-dismissible">
                    <h5>
                      <i class="icon fas fa-ban"></i>
                      Action denied
                    </h5> 
                    {{error}}
                  </div>
                </div>                  
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><strong>Positions</strong></h3>
      
                      <div class="card-tools">
                        <form (ngSubmit)="onSubmit()" >
                          <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" name="search" [(ngModel)]="searchValue" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-info"><i class="fas fa-search"></i></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Position Name</th>
                            <th class="align-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let position of positions; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{position.name}}</td>
                            <td class="align-center"><a class="danger" (click)="deletePosition(position)" ngbTooltip="Delete"><i class="fas fa-trash "></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->

                    <div  class="card-footer clearfix">
                      <button type="button" class="btn bg-gradient-primary" (click)="open(content)">Add Position</button>
                      <div *ngIf="totalPages > 1" class="custompagination">
                        <ngb-pagination [(page)]="currentPage" [pageSize]="10" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [collectionSize]="totalItems" (pageChange)="onPageChange()"></ngb-pagination>
                      </div>
                    </div>
                    
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    
    <ng-template #content let-modal>
      <form (ngSubmit)="addPosition()" #positionForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add position</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="deptname">Position name</label>
            <div class="input-group">
              <input type="text" id="deptname" class="form-control" [ngClass]="{'is-invalid': name.touched && !name.valid}" #name="ngModel"  [(ngModel)]="position.name" placeholder="Position name" name="name" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary" [disabled]="!positionForm.form.valid">Add</button>
        </div>
      </form>
    </ng-template>

</div>

