<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Departments</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">  
                <div class="col-8" *ngIf="error">
                  <div class="alert alert-danger alert-dismissible">
                     <h5>
                       <i class="icon fas fa-ban"></i>
                       Action denied
                     </h5> 
                     {{error}}
                  </div>
                </div>              
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><strong>All Departments</strong></h3>
      
                      <div class="card-tools">
                        <form (ngSubmit)="onSubmit()" >
                          <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" name="search" [(ngModel)]="searchValue" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-info"><i class="fas fa-search"></i></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Department Name</th>
                            <th>Creation date</th>
                            <th class="text-right">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dept of departments; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{dept.name}}</td>
                            <td>{{dept.creationDate}}</td>
                            <td class="text-right">
                              <div class="btn-group btn-group-sm">
                                <a class="btn btn-warning pointer" (click)="updateDepartment(updateDept, dept)"  ngbTooltip="edit"><i class="fas fa-edit "></i></a> 
                                <a class="btn btn-danger pointer" (click)="deleteDepartment(dept)" ngbTooltip="delete"><i class="fas fa-trash "></i></a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer clearfix">
                      <button type="button" class="btn bg-gradient-primary" (click)="open(content)">Add Department</button>
                      <div *ngIf="totalPages > 1" class="custompagination">
                        <ngb-pagination [(page)]="currentPage" [pageSize]="10" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [collectionSize]="totalItems" (pageChange)="onPageChange()"></ngb-pagination>
                      </div>
                    </div>
                    
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    
    <ng-template #content let-modal>
      <form (ngSubmit)="addDept()" #newDeptForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add department</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="deptname">Department name</label>
            <div class="input-group">
              <input type="text" id="deptname" class="form-control" [ngClass]="{'is-invalid': name.touched && !name.valid}" #name="ngModel"  [(ngModel)]="dept.name" placeholder="Department name" name="name" required>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="parentDept" [(ngModel)]="isParentDept" name="parentDept">
                <label for="parentDept" class="custom-control-label">Parent department</label>
            </div>
          </div>
          <div class="form-group" *ngIf="!isParentDept">
            <label for="deptname">Select a parent department</label>
            <select type="text" class="custom-select" [ngClass]="{'is-invalid': parent.touched && !parent.valid}" name="parent" #parent="ngModel" [(ngModel)]="selectedDept" placeholder="Parent department" required>
              <option></option>
              <option *ngFor="let dept of parentDepts" [value]="dept.deptId">{{ dept.name }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary" [disabled]="!newDeptForm.form.valid">Add</button>
        </div>
      </form>
    </ng-template>

    <ng-template #updateDept let-modal>
      <form (ngSubmit)="addDept()" #updateDeptForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Update department</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="deptname">Department name</label>
            <div class="input-group">
              <input type="text" id="deptname" class="form-control" [ngClass]="{'is-invalid': name.touched && !name.valid}" #name="ngModel"  [(ngModel)]="dept.name" placeholder="Department name" name="name" required>
            </div>
          </div>
          <div class="form-group" *ngIf="!isParentDept">
            <label for="deptname">Select a parent department</label>
            <select type="text" class="custom-select" [ngClass]="{'is-invalid': parent.touched && !parent.valid}" name="parent" #parent="ngModel" [(ngModel)]="selectedDept" placeholder="Parent department" required>
              <option></option>
              <option *ngFor="let dept of parentDepts" [value]="dept.deptId">{{ dept.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Department Leader</label>
            <ng-select2 [(ngModel)]="dept.leader.memberId" [data]="departmentMembers" [placeholder]="'Department Leader'" name="leader" #leader="ngModel" >		
            </ng-select2>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary" [disabled]="!updateDeptForm.form.valid">Update</button>
        </div>
      </form>
    </ng-template>

</div>
